// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.parser {}

.parserHeader {
    width: 100%;
    height: 30px;
    min-height: 30px;
    max-height: 30px;
    border-bottom: 1px solid #2a2f38;
    display: flex;
    align-items: center;
}

.parseResultList {
    width: 100%;
    height: ~"calc(100% - 30px)";
    overflow-y: auto;

    .parseResult {
        display: flex;
        align-items: center;
        padding: 0 .35rem;
        cursor: pointer;

        &:hover {
            background-color: rgba(42, 48, 56, 0.3);
        }

        .icon,
        .resultText {
            margin-right: 0.5rem;
        }

        .resultLocation {
            margin-left: auto;
        }
    }
}

.highlights {
    .region.parseMarker {
        border-bottom: 1px;
        border-bottom-style: dashed;
    }

    .region.parseMarker.parseError {
        border-bottom-color: #dc3545;
    }

    .region.parseMarker.parseWarning {
        border-bottom-color: #ffc107;
    }

    .region.parseMarker.parseInfo {
        border-bottom-color: #17a2b8;
    }
}

.notLCSMsg {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* reset for wrapper not aligning properly for resize */
.atom-dock-content-wrapper.bottom {
    top: 4px !important;
}
